/* Common styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
      font-family: "Nunito", sans-serif;
}
.header,select,.SearchBar-container,.countryCard,.back-btn{

box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* Header style */
.header{

   padding: 12px 24px;
}
.header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header div p{
    font-size: 18px;
}
.header div p span{
    margin-right: 4px;
    cursor: pointer;
}

/* SearchBar style */

.SearchBar-container{
    display: flex;
    align-items: center;
   padding: 18px;
     max-width: 300px;
     width: 100%;
     border-radius: 8px;
     gap: 8px;
     cursor: pointer;
}

.SearchBar-container input{
    border: none;
    width: 100%;
    outline: none;
    font-size: 16px;
   cursor: pointer;
   font-family: inherit;
}
.searchbar-and-dropmenu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

/* DropDown style */
select{
    max-width: 300px;
    width: 100%;
     padding: 18px;
    border-radius:8px;
    border: none;
    outline: none;
    background:white;
    font-size:14px;
    cursor:pointer;
    transition:0.3s;
}

/* Country Card Style */
.countryCard{
    display: block;
    text-decoration: none;
    color: black;
    max-width: 250px;
    width: 100%;
    margin-left: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.countryCard div{
    padding: 14px;
    line-height: 2rem;
}
.countryCard p{
    font-weight: bold;
}
.countryCard p span{
    color: rgba(0, 0, 0, 0.559);
}
.countryCard img{
    width: 100%;
}
/* Country card list style */
.countryCardList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
/* Error component style */
.error-msg{
    text-align: center;
    margin-top: 8rem;
    color: red;
}

/* CountryDetail component style */
.country-detail-container{
   max-width: 1200px;
    padding: 40px;
}
.back-btn{
    text-decoration: none;
    color: black;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
  

}
.country-detail-content{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.country-detail-content h2{
 font-size: 32px;
 margin-bottom: 24px;
}
.country-detail-content p{
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5rem;
}
.country-detail-content p span{
    color: rgba(0, 0, 0, 0.559);
}
.image-container{
    max-width: 500px;
    width: 100%;
 
}
.image-container img{
    width: 100%;
    border: 1.5px solid grey;
       border-radius: 2px;
    overflow: hidden;
}
@media (max-width:800px) {
    .searchbar-and-dropmenu-container{
        flex-direction: column;
        gap: 24px;
    }
    .country-detail-content{
        flex-direction: column;
        gap: 10px;
    }
    .country-detail-content h2{
    font-size: 24px;
    margin-bottom: 14px;
}
    .country-detail-content p{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5rem;
}
}